@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h1, h2, h3{
    font-family: 'Sacramento', cursive;
    font-size: 150%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__content{
    padding: 0.5rem;
    width: 98%;
    background-color: white;
}

.card__title{
    font-size: 1.2rem;
    font-weight: 700;
}

/* Banner */
.banner{
    width: 80%;
    padding: 2rem;
    margin: auto;
    background-color: #dcfce7;
    border-radius: 5px;
}

.banner__title{
    font-size: 2rem;
    font-family: 'Sacramento', cursive;

}

input[type='password']{
    border-radius: 5px;
    outline: #166534;
}

input[type="password"]:focus{
}