.article__img{
    width: 70%;
    align-items: center;
}

.card{
    border: 1px solid #9EC4C5;
}



.article__category{
    font-size: small;
    color: #bcbcbb;;
    margin-bottom: 1rem;
}

.article__price{
    font-weight: 700;
    font-size: 1.75rem;
}



.article__img img{
    width: 100%;;
}

.article__name{
    font-size: 1.25rem;
    font-weight: 700;
}

.article__content{
    padding: 0 1rem;

}

.article__product-code{
    color: #bcbcbb;
    font-size: smaller;
}

.article__description{
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.article__description p,
.article__store p{
    font-weight: 700;
}

.article__content > *{
    margin-bottom: 1rem;
}

.article__button a{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #dcfce7;
    text-transform: uppercase;
    font-weight: 500;
}

.shopping_cart{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #9EC4C5;
}


.shopping_cart ul{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.shopping_cart__total{
    padding-top: 1rem;
    border-top: 1px solid #9EC4C5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media only screen and (max-width: 750px) {
    .flex{
        flex-direction: column;
    }
  } */

